* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 8, 116);
    color: white;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo img{
    width: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 20px;
}

.search input{
    background-color: cyan;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
}

a:hover {
    color: yellow;
    font-size: large;
}















/* Start Here */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

.text{
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 30px;
}

.text p{
    font-size: x-large;
}

.text button {
    width: 100px;
    padding: 10px;
    background-color: brown;
    color: white;
    border-radius: 50px;
}

.pic img {
    width: 30vw;
}

.text h1 span {
    background-color: brown;
    color: white;
    padding: 10px;
}

.text h1 span:hover {
    background-color: rgb(0, 0, 0);
}

.text button:hover {
    background-color: black;
}


